@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Nunito"),
    url("../../public/fonts/Nunito/static/Nunito-Medium.ttf") format("ttf"),
    url("../../public/fonts/Nunito/static/Nunito-Medium.ttf") format("ttf");
}
